#orderBook {
  display: flex;
  flex-direction: column;
  height: 100%;

  .order-book {
    background: #1E2D39;
    box-sizing: content-box;
    overflow: auto;

    .order-book-bar {
      right: 0;
    }
    &.asks,
    &.bids {
      display: flex;
      position: absolute;
      width: 100%;
      left: 0;
      height: calc(50% - 33px);
    }
    &.asks {
      flex-direction: column-reverse;
      top: 0;
      .order-book-bar {
        background: #4E3342;
      }
    }
    &.bids {
      flex-direction: column;
      bottom: 0;
      .order-book-bar {
        background: #255547;
      }
    }

    .order-book-row {
      display: flex;
      position: relative;
  
      &.thead {
        height: 22px;
        line-height: 22px;
      }

      .order-book-bar {
        position: absolute;
        height: 100%;
        z-index: 0;
      }
   
      .order-book-col {
        z-index: 1;
        box-sizing: border-box;
        &.price {
          width: 35%;
          text-align: right;
          padding-left: 12px;
        }
        &.amount {
          width: 30%;
          text-align: right;
        }
        &.total {
          width: 35%;
          text-align: right;
          padding-right: 12px;
        }
      }
    }
  }

  .order-book-container {
    position: relative;
    .market-container {
      height: 60px;
      position: absolute;
      left: 0;
      width: 100%;
      top: calc(50% - 30px);
    }
  }
}

.cb-panel.orderBook-panel {
  width: 250px;
  background: transparent;
}

.cb-panel.orderBook-panel.loading {
  background: #1E2D39;
}
