.simple-select {
  position: relative;

  select {
    color: inherit;
    appearance: none;
    outline: none;
    border: none;
    background: transparent;
    padding-right: 15px;

    &::-moz-focus-inner {
      border: 0;
    }

    option {
      color: #151515;
      background: rgba($color: #F3CA82, $alpha: 0.5);
    }
  }
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    content: "";
    background-image: url('https://assets.zjzsxhy.com/upload/f795ab6e-3c1d-4431-8880-bc1c293c80d8.svg');
    pointer-events: none;
    background-size: cover;
    width: 12px;
    height: 12px;
  }
}