<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signin</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <img src="../assets/images/logo_all.svg">
    <div class="header-opts">
      <div class="a-container">
          <a href="#">帮助</a>
      </div>
      <div class="a-container">
        <a class="signin" href="/signin">登录</a>
      </div>
    </div>
  </header>
  <div id="main">
  </div>
</body>
</html>