<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signin</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <img src="../assets/images/logo_all.svg">
    <div class="header-opts">
      <div class="item-container helper">
          <a href="#">帮助</a>
      </div>
      <div class="item-container">|</div>
       <div class="item-container">
          <a  href="/signin">登录</a>
      </div>
      <div class="item-container">
        <a class="signup" href="/signup">注册</a>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="container-wrap">
      <div class="welcome">
        欢迎，来到 Cool.bi
      </div>
      <button>
        <a href="#" >查看交易平台</a >
      </button>
      <button>
        <a href="#" >Coolbi 法币交易</a >
      </button>
    </div>
  </div>
  <footer>
    <div class="footer-wrap">
      <div class="item-container ">
          <a href="#">Wechat</a>
      </div>
      <div class="item-container">|</div>
      <div class="item-container">
          <a  href="#">Weibo</a>
      </div>
    </div>
  </footer>
  <div id="main">
  </div>
</body>
</html>