<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <title>Market</title>
  <script src="https://assets.zjzsxhy.com/g/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://assets.zjzsxhy.com/g/normalize/7.0.0/normalize.min.css" rel="stylesheet">
  <script src="https://assets.zjzsxhy.com/g/react/15.6.2/react.min.js"></script>
  <script src="https://assets.zjzsxhy.com/g/react-dom/15.6.2/react-dom.min.js"></script>
  <script src="/tv/charting_library.min.js"></script>
</head>
<body data-market="<%= current_market %>">
  <div id="main"></div>
</body>
</html>
