<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signin</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <img src="../assets/images/logo_all.svg">
  </header>
  <div id="main">
    <div class="img">
      <img src="../assets/images/sml-bg-2.png">
    </div>
    <div class="form">
      <div class="title">登录</div>
      <form action="">
        <div class="input-container email">
          <input type="text" placeholder="邮箱">
        </div>
        <div class="input-container password">
          <input type="password" placeholder="密码">
          <a href="/reset_passwords/new">忘记密码</a>
        </div>
        <div class="submit-container">
          <input type="submit" name="commit" value="登录" cancel="/" class="btn btn-default btn-lg pull-right btn">
        </div>
        <div class="extra">
          <span>还没账号？</span><a href="/signup">立即注册</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>