#trades {
  min-height: 400px;
  max-height: 500px;
  overflow: hidden;

  .trades-row {
    display: flex;

    &.thead {
      height: 22px;
      line-height: 22px;
    }
 
    .trades-col {
      &.time {
        width: 25%;
        text-align: center;
        padding-left: 12px;
      }
      &.price {
        width: 35%;
        text-align: right;
      }
      &.amount {
        width: 40%;
        text-align: right;
        padding-right: 12px;
      }
    }
  }
}

.cb-panel.trades-panel {
  margin-right: 3px;
  width: 250px;
}