#trades {
  min-height: 400px;
  max-height: 500px;
  overflow: hidden;

  .trades-row {
    display: flex;

    &.thead {
      height: 22px;
      line-height: 22px;
    }
    &:not(.thead) {
      cursor: pointer;
    }
    &:not(.thead):hover {
      background: #2E4152;
    }
 
    .trades-col {
      &.time {
        width: 25%;
        text-align: center;
        padding-left: 12px;
      }
      &.price {
        width: 37.5%;
        text-align: right;
      }
      &.amount {
        width: 37.5%;
        text-align: right;
        padding-right: 12px;
      }
    }
  }
}

.cb-panel.trades-panel {
  width: 275px;

  .cb-panel-content {
    overflow: hidden;
  }
}