#historyLog {
  .ant-table-tbody {
    tr.ant-table-row:nth-child(even) {
      background-color: #292A2E;
    }
  }
}

@media (max-width: 875px) {
  #historyLog {
    padding: 6px 12px;

    .mobile-table .mobile-table-row {
      display: inline-block;
      width: 33.3%;

      &.price,
      &.fee {
        text-align: right;
      }
    }
  }
}
