$titleHeight: 32px;

.cb-panel {
  width: 100%;
  background: #181818;
  position: relative;
  animation: panelAnime 1s;
  perspective: 0px;

  .cb-panel-title {
    background: #151515;
    height: $titleHeight;
    line-height: $titleHeight;
    padding: 0 0 0 18px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    .simple-btn {
      position: relative;
      float: right;
      font-size: 14px;
      width: 32px;
      text-align: center;
      margin-top: 3px;
      height: 26px;
      line-height: 26px;

      i {
        display: block;
      }
    }
  }
  .cb-panel-content {
    padding-top: $titleHeight;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &.no-title .cb-panel-content {
    padding-top: 0;
  }
}

.no-panel-anime .cb-panel {
  animation: none;
}

@keyframes panelAnime {
  0% {
    opacity: 0;
    transform: perspective(100px) translateZ(-70px) rotateX(-7deg) rotateY(8deg);
  }
  100% {
    opacity: 1;
    transform: perspective(100px) translateZ(0px) rotateX(0deg) rotateY(0deg);
  }
}
