.order-btn {
  width: 100%;
  
  &.buy {
    background: #2b7452;
    color: #3DE777;
    cursor: pointer;
    
    &:disabled {
      background: #295245;
    }

    &:hover {
      color: #fff;
      background-color: #2b7452;
    }
  }
  &.sell {
    background: #8b2e46;
    color: #F74D64;
    cursor: pointer;

    &:disabled {
      background: #613746;
    }

    &:hover {
      color: #fff;
      background-color: #8b2e46;
    }
  }

  &.ant-btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
  }
}