@import '~rc-slider/assets/index.css';
$itemHeight: 30px;

.order {
  padding: 6px 24px;

  .order-row {
    display: flex;
    height: $itemHeight;
    width: 100%;
    margin-bottom: 10px;

    .ant-slider {
      margin: 0 6px;

      .ant-slider-handle {
        height: 12px;
        width: 12px;
      }
    }

    .ant-select-selection {
      background-color: #292a2e;
      color: #fff;
      border: 1px solid #292A2E;
      font-size: 12px;
    }

    .ant-select-arrow {
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    .order-lable {
      width: 20%;
      line-height: $itemHeight;
    }
    .order-item {
      width: 100%;
    }

    &.small {
      height: auto;
    }

    &-trade {
      display: flex;
      margin-bottom: 6px;
      opacity: .5;

      .order-label {
        margin-right: 8px;
      }
    }
  }

  .order-balance {
    display: flex;
    height: $itemHeight;
    line-height: $itemHeight;
    margin-bottom: 10px;

    .order-balance-value {
      text-align: right;
    }
  }

  .order-amount-btns {
    display: flex;

    .order-amount-btn {
      display: block;
      width: 25%;
      background: #292A2E;
      text-align: center;
      border: #475B6D solid 1px;
      border-radius: 4px;
      padding: 3px;
      margin: 0 2px;
      cursor: pointer;
    }
    .order-amount-btn:first-child {
      margin-left: 0;
    }
    .order-amount-btn:last-child {
      margin-right: 0;
    }
  }
}



.cb-panel.buy-panel {
  overflow: hidden;
  width: 275px;
  margin-right: 2px;
}
.cb-panel.sell-panel {
  overflow: hidden;
  width: 275px;
}

@media (max-width: 875px) {
  .cb-panel.buy-panel {
    margin-bottom: 2px;
  }
  .cb-panel.sell-panel {
    margin-right: 2px;
  }

  .order {
    padding: 12px 8px;
    height: 250px;

    .order-balance {
      display: block;
      height: auto;
      line-height: 1.5;

      .order-balance-value {
        text-align: left;
      }
    }

    .order-row,
    .order-row .ant-select-selection,
    .order-btn.ant-btn {
      height: 24px;
    }

    .order-input .order-input-suffix,
    .ant-select-selection__rendered {
      line-height: 24px;
    }
  }
}

.modal-tips {
  text-align: center;
  .ant-modal-content {
    background-color: #292a2e;
    .ant-modal-body {
      padding: 24px;
      .ant-confirm-title {
        color: #fff;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .ant-confirm-content {
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        margin-left: 0;
      }
    }
  }
  .ant-confirm-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    .ant-btn {
      border: 1px solid #f3ca82;
      &:hover {
        border: 1px solid #ffe5b0;
      }
    }
    .ant-btn-primary {
      margin-left: 24px;
      span {
        color: #181818;
      }
    }
  }
  &.ant-modal {
    bottom: 20px;
    transform: translateY(-100%);
    top: 100%;
    right: -20%;
  }
}

@media (max-width: 767px) {
  .modal-tips.ant-modal {
    right: 0;
  }
}