@import '~rc-slider/assets/index.css';
$itemHeight: 30px;

.order {
  padding: 6px 24px;

  .order-row {
    display: flex;
    height: $itemHeight;
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }

    .order-lable {
      width: 20%;
      line-height: $itemHeight;
    }
    .order-item {
      width: 80%;
    }

    &.small {
      height: auto;
    }

    &-trade {
      display: flex;
      margin-bottom: 6px;
      opacity: .5;

      .order-label {
        margin-right: 8px;
      }
    }
  }

  .order-balance {
    display: flex;
    height: $itemHeight;
    line-height: $itemHeight;
    margin-bottom: 10px;

    .order-balance-value {
      text-align: right;
    }
  }

  .order-amount-btns {
    display: flex;

    .order-amount-btn {
      display: block;
      width: 25%;
      background: #292A2E;
      text-align: center;
      border: #475B6D solid 1px;
      border-radius: 4px;
      padding: 3px;
      margin: 0 2px;
      cursor: pointer;
    }
    .order-amount-btn:first-child {
      margin-left: 0;
    }
    .order-amount-btn:last-child {
      margin-right: 0;
    }
  }
}



.cb-panel.buy-panel {
  overflow: hidden;
  width: 275px;
  margin-right: 2px;
}
.cb-panel.sell-panel {
  overflow: hidden;
  width: 275px;
}