$primary-color: #F3CA82;

.cb-panel {
  .ant-tabs {
    font-size: 12px;
    position: static;
    height: 100%;

    &-bar {
      border-bottom: 1px solid rgba($primary-color, .25);
      margin-bottom: 0;
    }
    &-nav-container {
      font-size: 12px;
    }
    &-tab {
      margin-right: 0;
      padding: 7px 16px;
    }
    &-tabpane {
      max-height: 168px;
      overflow: auto;
    }
    &-content {
      height: calc(100% - 31px);
    }
  }

  .ant-table {
    font-size: 12px;

    &-thead > tr > th {
      padding: 2px 8px;
      border: none;
    }

    &-tbody  > tr > td {
      padding: 2px 8px;
    }

    &-placeholder {
      font-size: 12px;
      background-color: #181818;
    }
  }
}
