html,
body {
  background-color: #151f28;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', sans-serif;
  font-size: 12px;
  color: #fff;
}

body {
  background-image: url(../assets/images/big-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  width: 100%;

  img {
    height: 28px;
    display: block;
    margin: 16px 25px;
  }

  .header-opts {
    position: absolute;
    top: 0;
    right: 0;
    height: 62px;
    line-height: 62px;

    .item-container {
      display: inline-block;
      margin-right: 25px;
    }

    .signup {
      background: #fff;
      color: #181818;
      padding: 5px 13px;
      border-radius: 3px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  .item-container {
    display: inline-block;
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.content {
  .container-wrap {
    position: absolute;
    padding-top: 62px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .welcome {
      text-align: center;
      font-size: 50px;
      margin-bottom: 40px;
    }

    button {
      display: block;
      border: 1px solid white;
      border-radius: 2px;
      width: 140px;
      height: 40px;
      margin: 24px auto;
      background: transparent;
      cursor: pointer;
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
      a {
        color: #ececec;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}
#main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
