#myOrders {
  overflow: auto;
  height: 100%;

  .myorder-row {
    display: flex;
    height: 22px;
    align-items: center;

    &:nth-child(odd) {
      background: #253746;
    }

    &.thead {
      height: 22px;
      line-height: 22px;
    }
 
    .myorder-col {
      &.type {
        width: 15%;
        text-align: center;
        // padding-left: 12px;
      }
      &.state {
        width: 15%;
        text-align: center;
      }
      &.price {
        width: 15%;
        text-align: right;
      }
      &.amount {
        width: 15%;
        text-align: right;
      }
      &.placed {
        width: 20%;
        text-align: center;
      }
      &.opt {
        width: 10%;
        text-align: right;
        // padding-right: 12px;
      }
    }

    .tag {
      color: #4D708C;

      &.partial {
        color: #b7dfff;
      }
    }
  }
}

.cb-panel.myOrder-panel {
  margin-right: 3px;

  .cb-panel-content {
    overflow: auto;
  }
}