.anonymousMask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  .opts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  a {
    border: #F3CA82 solid 1px;
    color: #F3CA82;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      border-color: #ffe5b0;
      color: #ffe5b0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}