#myOrders {
  overflow: auto;
  height: 100%;
  position: static;

  .text-right {
    text-align: right;

    .ant-btn[disabled] {
      background-color: inherit;
    }
  }

  .myorder-row {
    display: flex;
    height: 22px;
    align-items: center;

    &:nth-child(odd) {
      background: #292A2E;
    }

    &.thead {
      height: 22px;
      line-height: 22px;
    }
 
    .myorder-col {
      // &.type {
      //   width: 15%;
      //   text-align: center;
      //   // padding-left: 12px;
      // }
      &.kind {
        width: 15%;
        text-align: center;
      }
      &.state {
        width: 15%;
        text-align: center;
      }
      &.price {
        width: 15%;
        text-align: right;
      }
      &.amount {
        width: 25%;
        text-align: right;
      }
      &.placed {
        width: 20%;
        text-align: center;
      }
      &.opt {
        width: 10%;
        cursor: pointer;
        text-align: center;
      }
    }

    .tag {
      color: rgba(#F3CA82, 0.5);

      &.partial {
        color: #b7dfff;
      }
    }
  }
}

.cb-panel.myOrder-panel {
  margin-right: 3px;

  .cb-panel-content {
    overflow: auto;
  }
}

@media (max-width: 875px) {
  #myOrders {
    padding: 6px 12px;

    .mobile-table .mobile-table-row {
      display: inline-block;

      &.type,
      &.date,
      &.state {
        width: 33.3%;
      }

      &.price,
      &.amount {
        width: 50%;
      }

      &.opt {
        width: 100%;
        font-size: 14px;

        a {
          color: #F3CA82;
        }
      }

      &.date,
      &.opt {
        text-align: center;
      }
      &.state,
      &.amount {
        text-align: right;
      }
    }
  }
}


.myorders-pop {
  .ant-popover-inner,
  .ant-popover-arrow {
    background-color: #333;
    .ant-table-filter-dropdown-link,
    .ant-btn.ant-btn-primary {
      color: #181818;
    }
  }
}