@import '../assets/styles/react-select.min.css';
@import '../assets/iconfont/iconfont.css';

html,
body,
#main {
  width: 100%;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 12px;
}

html,
body,
#main,
#squareContainer,
#square {
  height: 100%;
}

// #square {
//   perspective: 100px;
// }

body {
  background: #151F28;
  color: #eee;
}

tt,
pre,
code,
.tt {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.red-text {
  color: #F74D64;
}
.green-text {
  color: #3DE777;
}
.light-text {
  color: #4D708C;
}

.simple-btn {
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    background: rgba($color: #fff, $alpha: 0.2);
  }
}

#square {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    margin-bottom: 3px;
  }

  .bottom {
    display: flex;
    height: 250px;
  }

  // .left {
  //   width: 250px;
  //   margin-right: 3px;
  // }
  // .right {
  //   flex-grow: 1;
  //   flex-shrink: 1;

  //   .right-top {
  //     display: flex;
  //     margin-bottom: 3px;
  //   }
  // }
}

.flex-autofixed {
  flex-grow: 1;
  flex-shrink: 1;
}
.flex-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

// component

.cb-select.Select {
  height: 30px;

  &.error {
    .Select-control {
      background: #4E3342 !important;
      border-color: #F74D64;
    }
  }

  .Select-control {
    background: #2E4152 !important;
    border-color: #475B6D;
    height: 30px;
  }
  .Select-arrow {
    border-color: #4D708C transparent transparent;
  }
  .Select-placeholder {
    color: #4D708C;
    line-height: 28px;
  }
  .Select-input {
    height: 28px;
  }
  .Select-value .Select-value-label {
    color: #fff !important;
    line-height: 28px;
  }
  .Select-control .Select-value {
    line-height: 28px;
  }
  .Select-control .Select-input:focus {
    background: transparent;
  }
  .Select-menu-outer {
    background: #2E4152;
    border-color: #475B6D;
  }
  .Select-option {
    background: #2E4152;
    color: #fff;

    &.is-selected,
    &.is-focused {
      background-color: #4D708C;
      // color: $select-option-selected-color;
    }
  }
}

.tag {
  display: inline-block;
  border-radius: 3px;
  background: #2E4152;
  border: #475B6D solid 1px;
  padding: 2px 4px;
}