.tooltip {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 1.5;
  color: hsla(0,0%,100%,.85);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1060;
  display: block;
  visibility: visible;
  padding-bottom: 8px;

  .tooltip-arrow {
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: 3px;
    border-width: 5px 5px 0;
    border-top-color: hsla(38,82%,73%,.65);
    left: 50%;
    margin-left: -5px;
  }

  .tooltip-inner {
    box-sizing: border-box;
    max-width: 250px;
    padding: 6px 8px;
    color: #181818;
    text-align: left;
    text-decoration: none;
    background-color: hsla(38,82%,73%,.65);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    min-height: 32px;
    white-space: nowrap;
  }
}

.tooltip-container {
  .tooltip {
    display: none;
  }

  &:hover {
    .tooltip {
      display: block;
    }
  }
}
