#account {
  position: relative;
  display: inline-block;

  &:hover {
    .header-menu {
      display: block;
    }
  }

  &.anonymous {
    a {
      cursor: pointer;
      color: #F3CA82;
      margin: 0 4px;
      transition: all .3s;

      &:hover {
        color: #ffe5b0;
      }
    }
  }
}
