$logoHeight: 28px;
$headerPadding: 22px;
$primary-color: #f3ca82;
$primary-hover-color: #ffe5b0;

#header {
  height: 60px;
  background: #181818;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  font-size: 14px;

  .logo-container {
    width: 175px;
    margin-right: 1px;
    padding-left: $headerPadding;
    height: $logoHeight;
    box-sizing: border-box;

    img {
      height: $logoHeight;
    }

    img:first-child {
      margin-right: 6px;
    }
  }

  .market-name {
    font-weight: 500;
    padding: 0 8px 0 20px;
    max-width: 180px;
    border: 1px solid #2d2d2f;
    background-color: #252529;
    border-radius: 20px;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    transition: border .5s;
    cursor: pointer;

    &:hover {
      border-color: $primary-hover-color;

      .search-btn {
        color: $primary-hover-color;
      }
    }

    .header-opt-trades {
      display: inline-block;
      line-height: 24px;
      padding: 5px 0;

      .t1 {
        color: $primary-color;
        font-size: 22px;
        font-weight: 400;
      }
      .t2 {
        color: #887450;
        font-size: 18px;
      }
    }

    .search-btn {
      color: $primary-color;
      display: inline-block;
    }
  }

  .market-info {
    .mt {
      color: $primary-color;
      margin-bottom: 4px;
    }
  }

  .header-opts {
    text-align: right;
    padding-right: $headerPadding;
  }

  .header-opts-btn {
    display: inline-block;
    transition: color .5s;
    padding: 5px 8px;
    border-radius: 5px;

    & > i {
      font-size: 24px;
    }

    &.simple-btn {
      color: $primary-color;

      a {
        text-decoration: none;
        color: $primary-color;
      }
      
      &:hover {
        a {
          color: $primary-hover-color;
        }
      }
    }

    &.anticon-user {
      font-size: 24px;
      color: $primary-color;

      &:hover {
        color: $primary-hover-color;
      }
    }

  }

  .search-btn {
    margin-left: 12px;
  }
}
.search-modal {
  .ant-modal-close-x {
    font-size: 18px;
  }
  #search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    .search-area {
      width: 100%;
      background: #181818;
      position: relative;
      .search-input {
        width: 100%;
        padding-top: 40px;
        text-align: center;
        .anticon-search {
          font-size: 20px;
          color: $primary-color;
        }
        input {
          height: 40px;
          margin: 0;
          padding-left: 40px;
          box-sizing: border-box;
          background-color: #181818;
          outline: none;
          border-radius: 20px;
          color: #ddd;
          font-size: 20px;
          text-align: left;
          border: 1px solid $primary-color;
          &:hover {
            border-color: $primary-hover-color;
          }
        }
      }
      .search-result {
        .search-result-tabs-bar {
          text-align: center;
        }
        .ant-tabs {
          &-bar {
            margin: 20px 0 0 0;
            border-bottom: none;
          }
          &-tab {
            font-size: 14px;
            .ant-badge-count {
              background-color: $primary-color;
              margin-left: 5px;
              color: #000;
              border: 1px solid $primary-hover-color;
              box-shadow: 0 0 0 1px $primary-hover-color;
            }
          }
        }
      }
      .search-prices {
        text-align: center;
        padding: 32px 0;
        box-sizing: border-box;
        overflow: auto;
        .header-price {
          padding: 12px;
          display: inline-block;
          width: 160px;
          box-sizing: border-box;
          &>div {
            line-height: 20px;
          }
          .highlight {
            background: $primary-color;
            color: rgba(#000, 0.65);
          }
          .header-price-name {
            color: rgba(#FFF, 0.65);
          }
          .header-price-current span {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  .ant-dropdown {
    .header-menu {
      background: $primary-color;
      padding: 0;
      border-radius: 4px;
      color: #181818;
      .menu-item {
        padding: 8px 12px;
        color: #181818;
        &:hover {
          border-radius: 4px;
          color: #252529;
        }
        a {
          color: #181818;
          &:hover {
            background: #fff;
            color: #252529;
          }
        }
      }
    }
  }
}

@media (max-width: 875px) {
  div#header {
    height: 45px;
    justify-content: space-between;

    .header-opts-btn {
      padding: 5px;
    }

    .logo-container {
      width: auto;
      padding-left: 12px;
    }

    .market-name {
      margin-right: 0;
      padding: 0 6px 0 12px;

      .header-opt-trades {
        padding: 0;

        .t1 {
          font-size: 20px;
        }
        .t2 {
          font-size: 16px;
        }
      }
      .search-btn {
        padding: 2px 0;
      }
    }

    .header-opts-btn.anticon-user,
    .header-opts-btn > i {
      font-size: 18px;
    }

    .header-locale {
      font-size: 12px;
    }

    .header-opts {
      flex-grow: 3;
      padding-right: 12px;
    }
  }
}

@media (max-width: 875px) {
  .search-modal #search .search-area {
    .search-prices {
      padding: 0.12rem 0 0;
    }

    .search-prices .header-price {
      width: auto;
      display: flex;
      padding: 0;
      margin-bottom: 0.12rem;
      justify-content: space-between;

      .header-price-current span {
        display: inline-block;
        width: auto;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #header #account {
    font-size: 12px;

    .header-opts-btn {
      padding: 5px 0;
    }
  }
}