#market {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .market-row {
    display: flex;
    align-items: center;
  }
  .market-info {
    font-size: 18px;

    span {
      vertical-align: sub;
    }
  }
  .market-current,
  .market-value {
    padding-right: 6px;
    font-size: 12px;
  }
  .market-value {
    padding-left: 5px;

    .simple-select {
      margin-left: 6px;

      &:hover {
        box-shadow: 0 0 0 1px rgba($color: #fff, $alpha: 0.4);
      }
    }
  }
  .market-change {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
  }

  .market-detail {
    top: 50%;
    right: calc(100% + 12px);
    z-index: 2;
    padding: 15px;
    transform: translate(50px, -50%);

    &.show {
      transform: translate(0, -50%);
    }

    .market-detail-row {
      white-space: nowrap;
      margin-bottom: 12px;

      .mt {
        font-size: 18px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.cb-panel.market-panel {
  box-sizing: border-box;
  border: #232323 solid 2px;
  border-left-width: 0;
  border-right-width: 0;

  .loading-container {
    padding: 0;
  }
}

.color {
  color: #fff;
  margin-left: 6px;
}

.ant-select-dropdown-menu-item,
.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover {
  color: #fff;
}

.ant-select-selection {
  border: none;
}

.ant-select-sm .ant-select-selection--single {
  height: 20px;
}