#market {
  height: 100%;
  position: relative;
  display: flex;

  .market-row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .market-current {
    width: 75%;
    height: 40px;
    font-size: 40px;
    text-align: right;
    vertical-align: bottom;
  }
  .market-info {
    width: 25%;
    height: 32px;

    &>* {
      padding-left: 5px;
      height: 16px;
      line-height: 16px;
    }
  }

  .market-detail {
    top: 50%;
    right: calc(100% + 12px);
    z-index: 2;
    padding: 15px;
    transform: translate(50px, -50%);

    &.show {
      transform: translate(0, -50%);
    }

    .market-detail-row {
      white-space: nowrap;
      margin-bottom: 12px;

      .mt {
        font-size: 18px;
      }
      .mv {
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.cb-panel.market-panel {
  box-sizing: border-box;
  border: #232323 solid 2px;
  border-left-width: 0;
  border-right-width: 0;

  .loading-container {
    padding: 0;
  }
}
