/* 1b262d => 1E2D39 */

html, body {
  background-color:#1E2D39 !important;
  color: #999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
#footer-chart-panel,
.chart-controls-bar {
  background-color:#1E2D39 !important;
}

.chart-container {
  border: none !important;
  border-top: 1px solid #c9cbcd;
  background: transparent !important;
}

.chart-loading-screen {
  background-color: #1E2D39 !important;
}

.tv-side-toolbar,
.header-chart-panel-sizer {
  border: none !important;
  background: #1A2631;
}

.header-chart-panel .group {
  margin: 1px 0;
}

.header-chart-panel .button {
  background: #2E4152;
  border: #475B6D solid 1px;
  outline: none;
  border-radius: 4px;
}

/* TODO: active */
.header-chart-panel .button::before {
  display: none !important;
}

.header-chart-panel .button:hover {
  background: #2E4152 !important;
  border-color: #475B6D;
}

.favored-list-container span {
  color: #4c6f8c;
  border-color: #475B6D;
  background: #2E4152 !important;
}
.favored-list-container .quick span.apply-common-tooltip {
  border-radius: 4px 0 0 4px;
}
.favored-list-container span.submenu.apply-common-tooltip {
  border-radius: 0 4px 4px 0;
}

.chart-style-popup .item svg, .chart-style-widget svg,
.button.properties svg,
.button.indicators svg {
  fill: #4c6f8c;
}

.favored-list-container span.apply-common-tooltip::before {
  display: none !important;
}

.favored-list-container.active span.submenu, .favored-list-container span.submenu.active {
  background: #4c6f8c!important;
  border-color: #2E4152;
  color: #c4c4c4;
}

.tv-close-panel {
  background-color: #2E4152;
  border: none;
}

/* sidebar */
.drawing-favorites-toolbar .tools-group .button, .feature-no-touch .tv-side-toolbar .tools-group .button:active, .feature-no-touch .tv-side-toolbar .tools-group .button:hover, .feature-touch .tv-side-toolbar .tools-group .button:active, .properties-toolbar .tools-group .button, .tv-side-toolbar .tools-group .button.active, .tv-side-toolbar .tools-group .button.selected {
  border-color: #475B6D;
  background: #2E4152 !important;
}

.tv-side-toolbar .tools-group .button.selected .main {
  background: #2E4152 !important;
}

.drawing-favorites-toolbar .tools-group .button.active, .feature-no-touch .drawing-favorites-toolbar .tools-group .button:active, .feature-no-touch .properties-toolbar .tools-group .button:active, .feature-no-touch .tv-side-toolbar .tools-group .button:active .side, .feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active, .feature-touch .drawing-favorites-toolbar .tools-group .button:active, .feature-touch .properties-toolbar .tools-group .button:active, .feature-touch .tv-side-toolbar .tools-group .button:active .side, .feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active, .properties-toolbar .tools-group .button.active, .tv-side-toolbar .tools-group .button.active .side, .tv-side-toolbar .tools-group .button.selected .main, .tv-side-toolbar .tools-group .button:not(.subgroup).active, .tv-side-toolbar .tools-group .button:not(.subgroup).selected {
  background-color: #4c6f8c;
}

/* menu */
.charts-popup-list {
  background: #2E4152;
  border: #475B6D solid 1px;
  outline: none;
  border-radius: 4px;
}

.charts-popup-list .item.active,
.charts-popup-list .item.active,
.feature-no-touch .charts-popup-list .item:hover {
  background-color: #4c6f8c;
}

.charts-popup-list .separator {
  border-color: #475B6D;
}

.charts-popup-list .item span {
  color: #c4c4c4;
}

.drawings-popup-list.iconed .item svg, .drawings-popup-list .item svg {
  fill: #c4c4c4;
}

#loading-indicator {
  background: #1E2D39;
}

.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover {
  background-color: #2E4152;
  color: #c4c4c4;
}